// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


$border-color: #ddd;


html, body, div, h1, h2, h3, button, p, span, input, img, a, ul, li {
  margin: 0;
  padding: 0;
  border: 0;
  text-align: inherit;
  font-family: 'Josefin Sans', sans-serif;
  text-decoration: none;
  list-style: none;
  overflow: inherit;
}

button, input[type="submit"] {
  margin: 4px;
  padding: 4px 30px;
}

input[type="text"], input[type="password"] {
  border: 1px solid black;
}

img {
  width: 640px;
  height: 640px;
}

a {
  font-weight: bold;
}

a:link {
  color: #0074D9;
}

a:visited {
  color: #0074D9;
}

a:hover {
  color: #001f3f;
}

a:active {
}

html, body {
  min-height: 100%;
}

body {
// background-image: url("http://d3ec71zsp1ok15.cloudfront.net/assets/content/staff-pics/RyanHall-156da2c53e72f43f75a5b75b23e293fa.jpg");
// background-repeat: no-repeat;
// background-size: cover;
}

.app {
  // background-color: #f9f9ff;
}

.appnav {
  padding: 25px;
  height: 25px;
  border-bottom: 1px solid $border-color;
  button {
    float: right;
  }
}

// .appnav button{
//   float: right;
// }

.authform {
  padding: 40px;
  float: right;
  left: 50px;
  margin-top: 100px;
  // border: 1px solid black;
  width: 250px;
  border-radius: 5px;
  text-align: center;
  h2 {
    // text-align: left;
    margin-left: -20px;
    margin-top: -20px;
    margin-bottom: 20px;
  }
  input[type="text"], input[type="password"] {
    width: 150px;
    height: 25px;
    margin: 6px;
    text-align: left;
    padding: 4px;
    font-size: 18px;
  }
  input[type="submit"]{
    width: 160px;
    font-size: 18px;
  }
  button {
    width: 160px;
    font-size: 18px;
  }
}

.item {
  background: white;
  width: 640px;
  margin: 50px auto;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  .header {
    border: 1px solid $border-color;
    border-bottom: 0;
    border-radius: 2px;
    padding: 20px;
  }
  .footer {
    border: 1px solid $border-color;
    border-top: 0;
    padding: 20px;
    border-radius: 2px;
    .comment-form {
      display: flex;
      .comments {
        margin-top: 16px;
      }
      .comment-text-field {
        font-size: 20px;
        padding: 4px;
        width: 500px;
        border: 0;
      }
    }
  }
}

.profile-index-item {
  background: cornflowerblue;
  max-width: 562px;
  margin: 50px auto;
}

.profile-index-item-pics {
  background: green;
  .picture-preview{
    max-width: 185.328px;
    max-height: 185.328px;
    margin: 1px;
  }
}

.profile-pics {
  width: 200px;
  height: 200px;
}
