// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/




$border-color: #ddd;
$link-blue: #0074D9;
$link-hover-blue: #001f3f;
$follow-green: #66bd2b;
$follow-hover-green: #47841e;


html, body, div, h1, h2, h3, button, p, span, input, img, a, ul, li {
  margin: 0;
  padding: 0;
  border: 0;
  text-align: inherit;
  font-family: 'Josefin Sans', sans-serif;
  text-decoration: none;
  list-style: none;
  overflow: inherit;
}

a:hover {
  cursor: pointer;
}

input:focus, button:focus {
  outline: none;
}

button, input[type="submit"] {
  margin: 4px;
  padding: 4px 30px;
}

input[type="text"], input[type="password"] {
  border: 1px solid black;
}

img {
  width: 640px;
  height: 640px;
}

a {
  font-weight: bold;
}

a:link {
  color: #0074D9;
}

a:visited {
  color: #0074D9;
}

a:hover {
  color: #001f3f;
}

a:active {
}

.follow-button {
  background-color: white;
  border-radius: 4px;
  font-size: 14px;
  font-weight: bold;
}

.follow-button.follow{
  border: 1px solid $link-blue;
  color: $link-blue;
  padding: 6px 20px 4px;
}

.follow-button.following {
  border: 1px solid $follow-green;
  color: white;
  background-color: $follow-green;
  padding: 6px 10px 4px;

}

.follow-button.follow:hover {
  border-color: $link-hover-blue;
  color: $link-hover-blue;
  cursor: pointer;
}

.follow-button.following:hover {
  background-color: $follow-hover-green;
  color: #fff;
  cursor: pointer;
}

// html, body {
//   min-height: 100%;
// }

body {
// background-image: url("http://d3ec71zsp1ok15.cloudfront.net/assets/content/staff-pics/RyanHall-156da2c53e72f43f75a5b75b23e293fa.jpg");
// background-repeat: no-repeat;
// background-size: cover;
}

.app {
  // background-color: #f9f9ff;
}

.appnav {
  // display: none;
  padding: 25px;
  height: 25px;
  border-bottom: 1px solid $border-color;
  h1 {
    font-family: 'Montez', cursive;
  }
  button {
    float: right;
  }
}

.nav-buttons {
  display: flex;
}

.icon:hover {
  cursor: pointer;
}

// .appnav button{
//   float: right;
// }

.authform {
  padding: 40px;
  left: 50px;
  margin: 100px auto;
  border: 1px solid black;
  width: 200px;
  // width: auto;
  height: 260px;
  // height: auto;
  border-radius: 5px;
  text-align: center;
  h2 {
    text-align: left;
    margin-left: -20px;
    margin-top: -20px;
    margin-bottom: 20px;
  }
  input[type="text"], input[type="password"] {
    width: 150px;
    height: 25px;
    margin: 0;
    text-align: left;
    padding: 4px;
    font-size: 18px;
    border: 0;
  }
  input[type="password"] {
    border-top: 1px solid $border-color;
  }
  input[type="submit"]{
    width: 160px;
    font-size: 18px;
    margin-top: 30px;
  }
  // #retype {
  //   border-top: 1px solid $border-color;
  // }
  button {
    width: 160px;
    font-size: 18px;
  }
}

.auth-flip {
  padding-top: 40px;
}

.item {
  background: white;
  width: 640px;
  margin: 50px auto;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  .header {
    border: 1px solid $border-color;
    border-bottom: 0;
    border-radius: 2px;
    padding: 20px;
  }
  .footer {
    border: 1px solid $border-color;
    border-top: 0;
    padding: 20px;
    border-radius: 2px;
    .comment-form {
      display: flex;
      .comments {
        margin-top: 16px;
      }
      .comment-text-field {
        font-size: 20px;
        padding: 4px;
        width: 500px;
        border: 0;
      }
    }
  }
}

.profile-index {
  margin-top: 50px;
}

.profile-index-item {
  // background: cornflowerblue;
  max-width: 600px;
  height: 290px;
  margin: 0 auto;
  border: 1px solid $border-color;
  border-bottom: 0;
}

.profile-index-item:last-child {
  border-bottom: 1px solid $border-color;
}

.index-item-header {
  display: flex;
  justify-content: space-between;
  padding: 20px 20px 20px 35px;
  // background-color: orange;
  .pic-and-name {
    display: flex;
    justify-content: space-between;
    img {
      width: 50px;
      height: 50px;
      margin-right: 20px;
    }
    .name {
      margin-top: 10px;
    }
  }
}

.profile {
  max-width: 950px;
  margin: 50px auto;
  // background: yellow;
}

.profile-header {
  display: flex;
  justify-content: space-between;
}

.profile-pics {
  display: flex;
  justify-content: space-between;
  max-width: auto;
  margin: 10px auto;
  // background: purple;
  // padding: 0 4px;
}

.profile-pics .overlay {
  width: 300px;
  height: 300px;
  background: black;
}

.profile-pics img {
  width: 100%;
  height: 100%;
  margin: 0;
  transition: opacity 0.6s;
}

.profile-pics img:hover {
  cursor: pointer;
  opacity: 0.8;
}


.profile-index-item-pics {
  // background: green;
  display: flex;
  justify-content: center;
  .picture-preview{
    max-width: 185.328px;
    max-height: 185.328px;
    margin: 1px;
  }
}

/* entire container, keeps perspective */
.flip-container {
	perspective: 1000;
}
	/* flip the pane when hovered */
	.flip-container:hover .flipper, .flip-container.hover .flipper {
		transform: rotateY(180deg);
	}

.flip-container, .front, .back {
	width: 320px;
	height: 480px;
  background: green;
}

/* flip speed goes here */
.flipper {
	transition: 0.6s;
	transform-style: preserve-3d;

	position: relative;
}

/* hide back of pane during swap */
.front, .back {
	backface-visibility: hidden;

	position: absolute;
	// position: relative;;
	top: 0;
	left: 0;
}

/* front pane, placed above back */
.front {
	z-index: 2;
	/* for firefox 31 */
	transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
	transform: rotateY(180deg);
}
